.our-rooms {
    margin-top: 151px;

    @include media-tablet-horizontal {
      margin-top: 120px;
    }

    @include media-phone {
        margin-top: 90px;
    }

    &__content {
        display: flex;

        @include media-phone {
            flex-direction: column;
        }
    }

    &__filter {
        max-width: 211px;
        min-width: 211px;
        margin-top: 74px;

        @include media-phone {
            max-width: 320px;
            margin-top: 20px;
        }
    }

    &__catalog {
        margin-left: 123px;
        margin-top: 74px;
        width: 100%;

        @include media-tablet-horizontal {
            margin-left: 50px;
        }

        @include media-tablet {
            margin-left: 30px;
        }

        @include media-phone {
            margin-left: 0;
            margin-top: 20px;
        }
    }
}
