.hamburger-menu
  .hamburger-menu__close
    .hamburger-menu__close-icon
  .hamburger-menu__logo
    img(src='img/logo.svg' alt='Логотип компании')
  ul.hamburger-menu__list
    li.hamburger-menu__item
      a(href='#').hamburger-menu__link Почему мы?
    li.hamburger-menu__item
      a(href='#').hamburger-menu__link Номера
    li.hamburger-menu__item
      a(href='#').hamburger-menu__link Отзывы
    li.hamburger-menu__item
      a(href='#').hamburger-menu__link Как нас найти
