block variables
doctype html
html(lang="ru")
  block head
    head
      meta(charset="utf-8")
      title #{title}
      meta(content="width=device-width, initial-scale=1" name="viewport")
      meta(content="ie=edge" http-equiv="x-ua-compatible")
      link(rel="stylesheet" href="css/style.min.css")
      link(href='https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Rubik:wght@500;700&display=swap', rel='stylesheet')
    body
      .wrapper
        block header
          include header
          include hamburger-menu
        block content
        block footer
        block scripts
          script(src='js/main.min.js')
