nav.nav
  ul.nav__list
    li.nav__item
      a(href='#').nav__link Почему мы?
    li.nav__item
      a(href='#').nav__link Номера
    li.nav__item
      a(href='#').nav__link Отзывы
    li.nav__item
      a(href='#').nav__link Как нас найти
