.catalog
  include filter-mini
  ul.catalog__list
    li.catalog__item
      .catalog__pic1.catalog__pic
      ul.catalog__desc-list
        li.catalog__desc-item.catalog__title Эконом
        li.catalog__desc-item Размеры (ШхГхВ) - 90х70х180 см
        li.catalog__desc-item Площадь - 0,63 м2
        li.catalog__desc-item.catalog__equipment-box
          .catalog__desc-item Оснащение номера
          .catalog__icon-not
        li.catalog__desc-item Цена за сутки: #[span 100₽]
        li.catalog__btn
          button(type='button').catalog__button Забронировать
            .catalog__button-icon
    li.catalog__item
      .catalog__pic2.catalog__pic
      ul.catalog__desc-list
        li.catalog__desc-item.catalog__title Эконом плюс
        li.catalog__desc-item Размеры (ШхГхВ) - 90х100х180 см
        li.catalog__desc-item Площадь - 0,90 м2
        li.catalog__desc-item.catalog__equipment-box
          .catalog__desc-item Оснащение номера
          .catalog__icon-sunbed
          .catalog__icon-claw-point
        li.catalog__desc-item Цена за сутки: #[span 200₽]
        li.catalog__btn
          button(type='button').catalog__button Забронировать
            .catalog__button-icon
    li.catalog__item
      .catalog__pic3.catalog__pic
      ul.catalog__desc-list
        li.catalog__desc-item.catalog__title Комфорт
        li.catalog__desc-item Размеры (ШхГхВ) - 100х125х180 см
        li.catalog__desc-item Площадь - 1,13 м2
        li.catalog__desc-item.catalog__equipment-box
          .catalog__desc-item Оснащение номера
          .catalog__icon-sunbed
          .catalog__icon-claw-point
          .catalog__icon-games
        li.catalog__desc-item Цена за сутки: #[span 250₽]
        li.catalog__btn
          button(type='button').catalog__button Забронировать
            .catalog__button-icon
    li.catalog__item
      .catalog__pic4.catalog__pic
      ul.catalog__desc-list
        li.catalog__desc-item.catalog__title Сьют
        li.catalog__desc-item Размеры (ШхГхВ) - 125х125х180 см
        li.catalog__desc-item Площадь - 1,56 м2
        li.catalog__desc-item.catalog__equipment-box
          .catalog__desc-item Оснащение номера
          .catalog__icon-sunbed
          .catalog__icon-claw-point
          .catalog__icon-games
        li.catalog__desc-item Цена за сутки: #[span 350₽]
        li.catalog__btn
          button(type='button').catalog__button Забронировать
            .catalog__button-icon
    li.catalog__item
      .catalog__pic5.catalog__pic
      ul.catalog__desc-list
        li.catalog__desc-item.catalog__title Люкс
        li.catalog__desc-item Размеры (ШхГхВ) - 160х160х180 см
        li.catalog__desc-item Площадь - 2,56 м2
        li.catalog__desc-item.catalog__equipment-box
          .catalog__desc-item Оснащение номера
          .catalog__icon-sunbed
          .catalog__icon-claw-point
          .catalog__icon-games
          .catalog__icon-house
        li.catalog__desc-item Цена за сутки: #[span 500₽]
        li.catalog__btn
          button(type='button').catalog__button Забронировать
            .catalog__button-icon
    li.catalog__item
      .catalog__pic6.catalog__pic
      ul.catalog__desc-list
        li.catalog__desc-item.catalog__title Супер-Люкс
        li.catalog__desc-item Размеры (ШхГхВ) - 180х160х180 см
        li.catalog__desc-item Площадь - 2,88 м2
        li.catalog__desc-item.catalog__equipment-box
          .catalog__desc-item Оснащение номера
          .catalog__icon-sunbed
          .catalog__icon-claw-point
          .catalog__icon-games
          .catalog__icon-house
        li.catalog__desc-item Цена за сутки: #[span 600₽]
        li.catalog__btn
          button(type='button').catalog__button Забронировать
            .catalog__button-icon
    li.catalog__item
      .catalog__pic6.catalog__pic
      ul.catalog__desc-list
        li.catalog__desc-item.catalog__title Супер-Люкс
        li.catalog__desc-item Размеры (ШхГхВ) - 180х160х180 см
        li.catalog__desc-item Площадь - 2,88 м2
        li.catalog__desc-item.catalog__equipment-box
          .catalog__desc-item Оснащение номера
          .catalog__icon-sunbed
          .catalog__icon-claw-point
          .catalog__icon-games
          .catalog__icon-house
        li.catalog__desc-item Цена за сутки: #[span 600₽]
        li.catalog__btn
          button(type='button').catalog__button Забронировать
            .catalog__button-icon
    li.catalog__item
      .catalog__pic6.catalog__pic
      ul.catalog__desc-list
        li.catalog__desc-item.catalog__title Супер-Люкс
        li.catalog__desc-item Размеры (ШхГхВ) - 180х160х180 см
        li.catalog__desc-item Площадь - 2,88 м2
        li.catalog__desc-item.catalog__equipment-box
          .catalog__desc-item Оснащение номера
          .catalog__icon-sunbed
          .catalog__icon-claw-point
          .catalog__icon-games
          .catalog__icon-house
        li.catalog__desc-item Цена за сутки: #[span 600₽]
        li.catalog__btn
          button(type='button').catalog__button Забронировать
            .catalog__button-icon
