.filter-mini
  .filter-mini__item-up.filter-mini__button По площади
  .filter-mini__dropdown
    .filter-mini__item-down По площади
    .filter-mini__item-up По цене
    .filter-mini__item-down По цене
