// Mobile first
$mediaMobile: 480px;
$mediaTablet: 768px;
$mediaTabletHorizontal: 1024px;
$mediaLaptop: 1366px;

//Fonts
$mainFont: "Lato", helvetica, arial, sans-serif;
$titleFont: "Rubik", helvetica, arial, sans-serif;
